<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Our Data Future</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:600&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="body">
    <div class="wrapper">
      <div class="content">{{{ content }}}</div>

      <div class="toc-wrapper">
        <div class="toc"></div>
      </div>

      <div class="footer">
        <a href="https://github.com/ourdatafuture/ourdatafuture">Contribute on Github</a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
